[Unit]
Description=FredBoat
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/YOUR_USER/fredboat
ExecStart=/usr/bin/java -jar FredBoat-1.0.jar
Restart=always

[Install]
WantedBy=multi-user.target